.artworks {
  column-gap: 4em;
  margin-top: -.5em;

  @media (min-width: 480px) {
    column-count: 2;
  }

  @media (min-width: 1000px) {
    column-count: 3;
  }

  @media (min-width: 1400px) {
    column-count: 4;
  }

  &__item {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.artwork-item {
  padding: 1em 0 2em;

  &:hover, &:focus {
    img {
      box-shadow: 0 3px 8px 3px rgba(0,0,0, .2);
    }
  }

  a {
    &, &:hover, &:focus {
      color: #333;
    }
  }


  img {
    display: block;
    margin-bottom: .5em;
    box-shadow: 0 1px 5px 1px rgba(0,0,0, .2);
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

  &__title {
    margin: .6em 0 0;
    font-family: 'futura-pt', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
  }
}


.artwork {
  &__img {
    img {
      display: block;
      margin-bottom: .5em;
      box-shadow: 0 1px 5px 1px rgba(0,0,0, .2);
      border-radius: 3px;
    }
  }

  &__title {
    margin: .5em 0 1em;
    font-family: 'futura-pt', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;

    @media (min-width: 780px) {
      margin-top: 0;
    }
  }

  &__subtitle {
    margin-top: 0.5em;
    font-size: 20px;
    font-weight: 300;
  }

  &__layout {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: 780px) {
      flex-direction: row;
    }
  }

  &__body-block {
    order: 2;

    @media (min-width: 780px) {
      flex-basis: 40%;
      order: 1;
      margin-right: 1em;
    }

    @media (min-width: 1400px) {
      margin-right: 3.5em;
    }
  }

  &__img-block {
    position: relative;
    padding: 0 2.5em;
    order: 1;

    @media (min-width: 780px) {
      flex-basis: 60%;
      order: 2;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    display: flex;
    align-items: center;
    transition: all .4s ease-out;
    background: rgba(255,255,255,0);

    &:hover, &:focus {
      text-decoration: none;
      color: #0277b6;

      span {
        opacity: .9;
      }
    }

    img {
      width: 1.5em;
      margin: 0 .5em;
      transition: transform .2s ease-out;
    }

    span {
      margin: 0 .2em;
      font-family: 'futura-pt', Helvetica, Arial, sans-serif;
      font-size: 24px;
      opacity: 0;
      transition: opacity .2s ease-out;

      @media (min-width: 780px) {
        font-size: 32px;
      }
    }

    &--prev {
      left: 0;

      &:hover, &:focus {
        background: linear-gradient(to right, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));

        img {
          transform: translateX(.5em);
        }
      }
    }

    &--next {
      right: 0;
      justify-content: flex-end;

      &:hover, &:focus {
        background: linear-gradient(to left, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));

        img {
          transform: translateX(-.5em) rotate(180deg);
        }
      }

      img {
        transform: rotate(180deg);
      }
    }
  }

  &__desc {
    font-style: italic;
    font-size: 18px;
  }

  &__meta {
    margin-top: 2em;
    font-size: 16px;

    dl {
    }

    dt {
      margin-top: 1.2em;
      font-weight: 600;
    }

    dd {
      margin: .2em 0 0;
    }
  }

  &__dimensions {
    span {
      margin-left: .2em;
      font-size: 14px;
      color: #555;
    }
  }


}
