.layout {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  max-width: 1600px;

  &__sidebar {
    display: none;
    flex-direction: column;
    align-items: center;

    flex: 0 0 250px;
    padding: 1.5em 1.5em;
    margin-right: 1em;
    background: #f9f9f9;
    box-shadow: inset -20px 0 20px -30px rgba(0,0,0,.2);

    @media (min-width: 1200px) {
      display: flex;
    }

    &--admin {
      background: linear-gradient(to bottom, #323232, #0e0e0e);

      .nav__link a,
      .logo {
        &, &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }

  &__body {
    flex-grow: 1;
    padding: 2em 2em 1em 2em;
  }
}
