.layout {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  max-width: 1600px;
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &__sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5em 1.5em;
    background: #f9f9f9;

    @media (min-width: 1200px) {
      flex-direction: column;
      align-items: center;
      flex: 0 0 250px;
      padding: 1.5em 1.5em;
      margin-right: 1em;
      box-shadow: inset -20px 0 20px -30px rgba(0,0,0,.2);
    }

    &--admin {
      background: linear-gradient(to bottom, #323232, #0e0e0e);

      .nav__link a,
      .logo {
        &, &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }

  &__body {
    flex-grow: 1;
    padding: 2em 1.5em 1em 1.5em;
    box-shadow: inset 0 20px 20px -30px rgba(0,0,0,.4);

    @media (min-width: 1200px) {
      box-shadow: none;
    }
  }
}
