.post {
  & + & {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #e5e5e5;
  }

  &__title {
    margin-bottom: .2em;

    a {
      &, &:hover, &:focus {
        color: #333;
      }
    }
  }

  &__img {
    margin-bottom: 1em;

    img {
      display: block;
    }
  }

  &__published {
    margin-bottom: 1.5em;
    font-size: 14px;
    color: #666;
  }
}
